.form-web-scrape {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
.input-text {
  background-color: #fff;
  border: 1px solid #ddd;
  height: 40px;
  padding: 0 15px;
  width: 350px;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font: 400 0.8125rem Gotham-Book, Arial, sans-serif;
}
.error-message {
  color: 'red'
}