.form-web-scrape {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.input-text {
  background-color: #fff;
  border: 1px solid #ddd;
  height: 40px;
  padding: 0 15px;
  width: 350px;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font: 400 0.8125rem Gotham-Book, Arial, sans-serif;
}
.error-message {
  color: 'red'
}
.input-field-container {
  display: flex;
  flex-direction: column;
}
.btn-blue {
  background: #005bff;
  color: #fff;
  text-align: center;
  cursor: pointer;
  height: 40px;
  font: 400 14px Gotham-Bold, tahoma, Arial, sans-serif;
  width: 100px;
  border-radius: 10px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}